body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(135deg, #020e7c, #2575fc);
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

input[type="text"] {
    width: 80%;
    padding: 15px;
    margin: 10px 0;
    border: none;
    border-radius: 25px;
    outline: none;
    font-size: 1rem;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

input[type="text"]:focus {
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

button {
    margin-top: 15px;
    padding: 15px 30px;
    border: none;
    border-radius: 25px;
    background: #1e01ff;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

button:hover {
    background: #1604a3;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    transform: translateY(-3px);
}

#nameDisplay {
    margin-top: 20px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff;
    opacity: 0;
    animation: fadeIn 0.5s forwards;
}

.hidden {
    display: none;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
